
h2{
    text-align:center;
}

.box{
    width: 400px;
    border: 2px solid black;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgb(172 160 160);
    box-sizing: border-box;
}
.container1{
    width: 100px;
    font:large;
    background-color: #ff8787;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
   text-align: center;
   float: right;
}
.container2{
    width: 100px;
    font:large;
    color: white;
    background-color: rgb(241, 19, 19);
    border-left: 2px solid black;
    border-bottom: 2px solid black;
   text-align: center;
   float: right;
}
.container3{
    width: 100px;
    font:large;
    background-color: rgb(223, 191, 86);
    border-left: 2px solid black;
    border-bottom: 2px solid black;
   text-align: center;
   float: right;
}

.c1{
    clear: both;
    padding: 14px;

}